.page {
  --Oxford-Blue: #001D3D;
  --Yale-Blue: #003566;

  height: 50000px;
}

.main {
  display: flex;
align-items: flex-start;
gap: 10px;
flex: 1 0 0;
align-self: stretch;
}

.aside {
  display: flex;
  max-width: 325px;
  padding: 25px 0px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  align-self: stretch;

  border-right: 3px solid var(--Oxford-Blue, #001D3D);
  background: var(--Yale-Blue, #003566);
}

.content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

.section {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}